/* CSS Main file */
/*
Color palette:
#424661 (Navy blue ish)
#a7cca4 (Teal green ish)
#5d4a3c (Dark brown)
#ab6c39 (Orange brown)
#e7c7a2	(Beige)
*/
#galleryBtn {
    width: 100%;
    height: auto;
    
    text-align: center;
    
    background-color: white;
    margin: 20px 0 20px 0;
       
}

#galleryBtn:hover~#instaGallery {
    display: inline;
}

#instaGallery {
    display: none;
}

.igPic {
    width: 400px;
    position: relative;
    display: block;
    margin: 10px auto 10px auto;
    
}

/* Global CSS */
html {
    font-family: arial;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    font-family: "Helvetica";
    font-weight: 100;
    text-align: center;
    font-size: 64px;
    color: #e7c7a2;
    padding-bottom: 20px;
}

h2 {
    font-size: 32px;
    text-align: center;
}

#titleMobBr {
        display: none;
    }

/* Grid view CSS */
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 0px;
}

/* Column width designation */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Header CSS */
.header{
    margin: 0;
    padding: 0;
    background-color: #424661;
}

#koTitle{
    font-size: 48px;
}

/* Menu CSS */
#nav{
    display: inline-block;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
    background-color: #424661;
}
.nav ul li {
    display: inline-block;
    
    padding: 1em;
    margin: auto;
    text-align: center;
}
.nav ul li a:hover {
    color: white;
    animation: navLiHover 0.2s ease-in-out;
}
.nav ul li a {
    text-decoration: none;
    color: #e7c7a2;
    font-size: 16px;
    margin: auto;
}
@keyframes navLiHover{
    0%{color: #e7c7a2;}
    100%{color: white; bottom: 10%;}
}

.smLink{
    float: right;
}

/* Form in contact page */
.form {
    display: inline-block;
    text-align: center;
    margin: auto;
    align-content: center;
}

.inputField {
    border: 1px solid black;
    margin: 5px;
    width: 12rem;
    box-shadow: 1px 1px 2px black;
}

.inputField:hover {
    border-color: blue;
    background-color: #ddd;
}

.inputBtn {
    width: 94px;
    border: 2px solid black;
    border-radius: 5%;
    
}

#send:hover, #reset:hover {
    background-color: #ddd;
    border-color: #a7cca4;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
    
}

/* Background image/Taekkyeon Logo */
#bgImage{
    opacity: 0.5;
}

/* HistoryPage CSS */

#mainImg1 {
    width: 400px;
    float: left;
    margin: 10px;
    display: block;
}
.historyParagraph {
    display: block;
    width: 600px;
    height: 500px;
    margin: 10px;
    float: left;
    overflow: scroll;
    
    font-size: 40px;
}


/* Media query Mobile phone */
@media only screen and (max-width: 600px){
    h1{
        font-size: 56;
    }
    
    #mainImg1 {
        width: 80%;
        margin: auto;
        float: none;
    }
    .historyParagraph {
        width: 80%;
        font-size: 16px;
        
        float: none;
        margin: auto;
    }
    
    /* Different menu type for mobile phones */
    .container {
        position: relative;
        padding: 10px 0 10px 0;
        width: 100%;
        background-color: #424661;
        display: inline-block;
        cursor: pointer;
        z-index: 2;
        
        
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #e7c7a2;
        margin: 6px auto 0 auto;
        transition: 0.3s;
    }

    /* Rotate first bar */
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }

    /* Fade out the second bar */
    .change .bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }
    
    /* The actual menu that appears after clicking button  */
    #nav{
        z-index: 1;
        position: relative;
        display: none;
        animation: slideDown 0.6s ease;
    }
    
    /* Animation to make nav slide down */
    @keyframes slideDown{
        0%{top: -306px;}
        100%{top: 0px;}
    }
    
    /* Cleanupcode for positioning menu */
    .nav ul li {
        width: 100%;
        background-color: #222641;
        border-bottom: 1px solid black;
    }
    #titleMobBr {
        display: inline;
    }
    .smLink{
        float: none;
    }
    
}