/* CSS Main file */
/*
Color palette:
#424661 (Navy blue ish)
#a7cca4 (Teal green ish)
#5d4a3c (Dark brown)
#ab6c39 (Orange brown)
#e7c7a2	(Beige)
*/

/* Global CSS */
html {
    font-family: arial;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    font-family: helvetica;
    text-align: center;
    font-size: 72px;
    color: #e7c7a2;
}

/* Grid view CSS */
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 0px;
}

/* Column width designation */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Header CSS */
.header{
    margin: 0;
    padding: 0;
    background-color: #424661;
}

/* Menu CSS */
.nav ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
    background-color: #424661;
}
.nav ul li {
    display: inline-block;
    
    padding: 1em;
    margin: auto;
    text-align: center;
}
.nav ul li a:hover {
    color: white;
    animation: navLiHover 0.2s ease-in-out;
}
.nav ul li a {
    text-decoration: none;
    color: #e7c7a2;
    font-size: 32px;
    margin: auto;
}
@keyframes navLiHover{
    0%{color: #e7c7a2;}
    100%{color: white; bottom: 10%;}
}


/* Background image/Taekkyeon Logo */
#bgImage{
    opacity: 0.5;
}

/* Media query Mobile phone */
@media only screen and (max-width: 600px){
    .nav ul li {
        width: 100%;
    }
    
}